/*General Dark Mode Changes*/
body.dark input, 
body.dark select {
    background: transparent;
}
body.dark .editing-source textarea {
    color: var(--color-text-light-0);
}
body.dark .window-app:not(.tidy5e, .simple-calender, .dnd5e2) .window-content {
    filter: invert(1);
}
body.dark .window-app:not(.tidy5e, .simple-calender, .dnd5e2) .window-content canvas, 
body.dark .window-app:not(.tidy5e, .simple-calender, .dnd5e2) .window-content img {
    filter: invert(1);
}

/*DnD 5th Edition v1 Sheet (2.1.4 and lower)*/
body.dark .dnd5e.sheet:not(.tidy5e) .window-content {
    filter:invert(1);
}
body.dark .dnd5e.sheet:not(.tidy5e) .window-content img,
body.dark .dnd5e.sheet:not(.tidy5e) .window-content .item-image,
body.dark .dnd5e.sheet:not(.tidy5e) .window-content .item-image:hover {
    filter:invert(1);
}
body.dark .dnd5e.sheet:not(.tidy5e) .inventory-list,
body.dark .dnd5e.sheet:not(.tidy5e) .inventory-list li{
    filter: invert(1);
}

/*DnD 5th Edition v2 Sheet (3.0.0 and higher)*/
body.dark .dnd5e2.sheet:not(.tidy5e) {
    background: var(--dnd5e-color-dark);
}
body.dark .dnd5e2.sheet:not(.tidy5e) .sheet-body {
    filter: invert(1);
    backdrop-filter: grayscale(1);
}
body.dark .dnd5e2.sheet:not(.tidy5e) .sheet-body .sidebar,
body.dark .dnd5e2.sheet:not(.tidy5e) .sheet-body .right img {
    filter: invert(1);
}
body.dark .dnd5e2.sheet:not(.tidy5e) .sheet-body .sidebar .favorites {
    filter: invert(1);
}
body.dark .dnd5e2.sheet:not(.tidy5e) .sheet-body .sidebar .favorites img {
    filter: invert(1);
}
body.dark .dnd5e2.sheet:not(.tidy5e) .sheet-body .card .tmp,
body.dark .dnd5e2.sheet:not(.tidy5e) .sheet-body .card .header {
    filter: invert(1);
}
body.dark .dnd5e2.sheet:not(.tidy5e) .ability-scores .ability-score {
    filter: drop-shadow(0 0 6px var(--dnd5e-shadow-45)) invert(1);
}
body.dark .dnd5e2.sheet:not(.tidy5e) :is(#tooltip, .locked-tooltip) {
    filter: invert(1);
}
body.dark .dnd5e2.sheet:not(.tidy5e) .classes .class .icons img {
    filter: invert(1);
}

/*v2 Dark Inventory Changes*/
body.dark .dnd5e2.sheet:not(.tidy5e) .containers .container img {
    filter: invert(1);
}
body.dark .dnd5e2.sheet:not(.tidy5e) .items-list .item-image {
    filter: invert(1);
}
body.dark .dnd5e2.sheet:not(.tidy5e) section.currency {
    filter: invert(1);
}
body.dark .dnd5e.sheet .inventory-list .item-summary ol {
    filter: invert(1);
}
/*FoundryVTT Dark Chat Changes*/
body.dark :is(.chat-popout, #chat-log) .message,
body.dark :is(.chat-popout, #chat-log) .message img {
 
    filter: invert(1);
}
body.dark :is(.chat-popout, #chat-log) #chat-form {
    filter: invert(1);
}
body.dark :is(.chat-popout, #chat-log) #chat-controls .select {
    filter: invert(1);
}
body.dark nav#context-menu {
    filter: invert(1); 
}
body.dark textarea#chat-message {
    filter: invert(1); 
}

/*DnD 5th Edition v1 Sheet (2.1.4 and lower) Proficiency Highlighting*/
.dnd5e.sheet:not(.tidy5e) .ability-modifiers input[value="1"] ~ span.ability-save,
.dnd5e.sheet:not(.tidy5e) .skill input[value="1"] ~ span.skill-mod {
    color: var(--color-border-highlight-alt);
}
.dnd5e.sheet:not(.tidy5e) .skill input[value="0.5"] ~ span.skill-mod {
    text-shadow: 0px 0px 5px var(--color-border-highlight-alt);
}
.dnd5e.sheet:not(.tidy5e) .skill input[value="2"] ~ span.skill-mod {
    color: var(--color-text-light-0);
    text-shadow: 0px 0px 10px var(--color-shadow-dark), 
                 0px 0px 5px  var(--color-border-highlight-alt);
}

/*FoundryVTT Directory Changes*/
body:not(.plutonium) .sidebar-tab.directory .action-buttons button {
    height: 20px;
    line-height: 16px;
}
body:not(.plutonium) .sidebar-tab.directory .directory-list .directory-item {
    min-height: 30px;
}
body:not(.plutonium) .sidebar-tab.directory .directory-list .directory-item.document {
    height: 30px;
}
body:not(.plutonium) .sidebar-tab.directory .directory-list .directory-item h3 {
    line-height: 28px;
}
body:not(.plutonium) .sidebar-tab.directory .directory-list .directory-item h4 {
    line-height: 24px;
}
body:not(.plutonium) .sidebar-tab.directory .directory-list li header {
    padding-top: 0;
    padding-bottom: 0;
}
body:not(.plutonium) .sidebar-tab.directory .directory-list li img {
    max-width: 30px;
    max-height: 30px;
    object-position: center;
}
body.dark .sidebar-tab button {
    filter: invert(1);
}
body.dark .sidebar-tab.directory .header-search input {
    filter: invert(1);
}
/*[MODULE] Dice Tray Styling*/
body.dark .dice-tray button .dice {
    filter: invert(1);
}
body.dark .dice-tray .dice-tray__math button {
    filter: invert(0);
}
/*[MODULE] MIDI QOL Styling*/
body.dark .message-content .midi-qol-item-card .card-buttons button {
    filter: invert(0);
}
/*[MODULE] Token Action HUD Styling*/
body.dark #token-action-hud .tah-tab-group,
body.dark #token-action-hud .tah-tab-group .tah-button-content,
body.dark #token-action-hud .tah-tab-group .tah-button-image,
body.dark #token-action-hud .tah-tab-group .tah-action-button-content {
    filter: invert(1);
}