.zetas-dark-mode {
/*    --color-light-1: #080c17;
    --color-light-2: #101927;
    --color-light-3: #182e4e;
    --color-light-4: #2f475c;
    --color-light-5: #607b8a;
    --color-light-6: #7e9499;

    --color-text-light-0: #000000;
    --color-text-light-1: #111111;
    --color-text-light-2: #222222;
    --color-text-light-3: #333333;
    --color-text-light-4: #444444;
    --color-text-light-5: #555555;
    --color-text-light-6: #666666;
    --color-text-light-7: #777777;*/

    --color-dark-1: #eeeeee;
    --color-dark-2: #dddddd;
    --color-dark-3: #bbbbbb;
    --color-dark-4: #aaaaaa;
    --color-dark-5: #999999;
    --color-dark-6: #888888;

    --color-text-dark-1: #eeeeee;
    --color-text-dark-2: #dddddd;
    --color-text-dark-3: #cccccc;
    --color-text-dark-4: #bbbbbb;
    --color-text-dark-5: #aaaaaa;
    --color-text-dark-6: #888888;

    --color-border-dark-1: #eeeeee;
    --color-border-dark-2: #dddddd;
    --color-border-dark-3: #cccccc;
    --color-border-dark-4: #bbbbbb;
    --color-border-dark-5: #999999;

    --color-text-dark-primary: #e6e7ec;
    --color-text-dark-secondary: #b4b5bb;
    --color-text-dark-header: #dcdde2;

    --dnd5e-color-parchment: #0e1417;
    --dnd5e-color-card: #070b0e;
    --bordercolor: rgba(255, 255, 255, 0.8);
    --dnd5e-color-dark: #e6e7ec;
}
body.zetas-dark-mode .editor {
    color: var(--color-border-dark-2);
}
body.zetas-dark-mode .editor a.content-link, 
body.zetas-dark-mode .editor a.inline-roll { background: var(--dnd5e-color-parchment); }
body.zetas-dark-mode.game .window-app { 
    --color-select-option-bg: #080c17;
    --color-control-bg: #262737;
    --color-hover-bg: #0f0f1f;
}
body.zetas-dark-mode .dnd5e .form-group label,
body.zetas-dark-mode .dnd5e.sheet .sheet-header .summary li,
body.zetas-dark-mode .dnd5e.sheet.item .sheet-body .item-properties .properties-header { color: var(--color-text-dark-secondary); }
body.zetas-dark-mode #sidebar { border: 1px solid var(--color-border-dark-5); }
body.zetas-dark-mode button { 
    color: #ffffff;
    background-color: rgba(0, 0, 15, 0.8);
}
body.zetas-dark-mode .dnd5e2 .pills .pill.transparent, 
body.zetas-dark-mode .dnd5e2 .pills .pill.pill-sm { color: #b1b1b1; }
body.zetas-dark-mode select { color: #ffffff; }

body.zetas-dark-mode .directory .directory-item { border-top: 1px solid var(--color-border-dark-5); }
body.zetas-dark-mode .directory .directory-list > .directory-item:last-child { border-bottom: 1px solid var(--color-border-dark-4); }

body.zetas-dark-mode .prosemirror menu .pm-dropdown { background: #262737; }
body.zetas-dark-mode .prosemirror menu button:hover, 
body.zetas-dark-mode .prosemirror menu button.active { 
    background: #0f0f1f;
    color: white;
}

body.zetas-dark-mode #sidebar #chat-log .chat-message::before { filter: invert(1); }
body.zetas-dark-mode .directory .directory-header .header-search input { background: rgba(0, 0, 10, 0.8); }
body.zetas-dark-mode textarea,
body.zetas-dark-mode #chat-form textarea {
    background: url(../src/parchment-dark.jpg) repeat;
    color: var(--color-text-dark-1);
}
body.zetas-dark-mode .window-app .window-content { background: url(../src/parchment-dark.jpg) repeat; }

body.zetas-dark-mode :is(#tooltip, .locked-tooltip).dnd5e-tooltip {
    background: url(../src/texture-gray1-dark.webp) no-repeat top left, 
    url(../src/texture-gray2-dark.webp) no-repeat bottom right, 
    var(--dnd5e-color-parchment);
}
body.zetas-dark-mode :is(.chat-popout, #chat-log) .message.whisper { background-color: #120303; }
body.zetas-dark-mode :is(.chat-popout, #chat-log) .message.blind { background-color: #1e1b04; }