body.theme-dark {
    --color-dark-1: #eeeeee;
    --color-dark-2: #dddddd;
    --color-dark-3: #bbbbbb;
    --color-dark-4: #aaaaaa;
    --color-dark-5: #999999;
    --color-dark-6: #888888;

    --color-text-dark-1: #eeeeee;
    --color-text-dark-2: #dddddd;
    --color-text-dark-3: #cccccc;
    --color-text-dark-4: #bbbbbb;
    --color-text-dark-5: #aaaaaa;
    --color-text-dark-6: #888888;

    --color-border-dark-1: #eeeeee;
    --color-border-dark-2: #dddddd;
    --color-border-dark-3: #cccccc;
    --color-border-dark-4: #bbbbbb;
    --color-border-dark-5: #999999;

    --color-text-dark-header: #dcdde2;
    --color-text-dark-primary: #e6e7ec;
    --color-text-dark-secondary: #b4b5bb;

    --bordercolor: rgba(255, 255, 255, 0.8);
    --dnd5e-color-card: #070b0e;
    --dnd5e-color-dark: #e6e7ec;
    --dnd5e-color-parchment: #0e1417;
    --dnd5e-color-card-tint: rgba(7, 11, 14, 0.5);

    --dnd5e-color-olive: #b4b5bb;
    --dnd5e-color-tan: #b4b5bb;
}
body.theme-dark select { color: #ffffff; }
body.theme-dark button { 
    color: #ffffff;
    background-color: rgba(0, 0, 15, 0.8);
}
body.theme-dark input { color-scheme: dark; }
body.theme-dark input::placeholder{ color: var(--color-text-dark-5); }
body.theme-dark .editor {
    color: var(--color-border-dark-2);
}
body.theme-dark input[type="checkbox"]:checked, 
body.theme-dark input[type="radio"]:checked {
    accent-color: midnightblue;
    filter: grayscale(0.5);
}
body.theme-dark .app:not([data-sheet-module="tidy5e-sheet"]) textarea { 
    color: var(--color-text-dark-1);
    border-color: var(--color-border-dark-5);
}
body.theme-dark #chat-form textarea {
    background: url(../src/parchment-dark.jpg) repeat;
    color: var(--color-text-dark-1);
}
body.theme-dark .prosemirror menu .pm-dropdown { background: #262737; }
body.theme-dark #prosemirror-dropdown ul { 
    background-color: var(--dnd5e-color-card);
    color: white;
}
body.theme-dark .prosemirror .editor-container { 
    border: 1px solid var(--color-dark-6);
    border-radius: 5px;
}
body.theme-dark #prosemirror-dropdown li:hover { background-color: var(--dnd5e-color-light-gray); }
body.theme-dark .editor.prosemirror button {
    background: hsl(224deg 43.33% 5.86%);
    background: linear-gradient(to bottom right, #181c27, hsl(224deg 43.33% 5.86%));
}
body.theme-dark .prosemirror menu .pm-dropdown:hover i { color: white; }
body.theme-dark .prosemirror menu button:hover, 
body.theme-dark .prosemirror menu button.active { 
    background: #0f0f1f;
    color: white;
}
body.theme-dark.game .window-app { 
    --color-hover-bg: #0f0f1f;
    --color-control-bg: #262737;
    --color-select-option-bg: #080c17;
}
body.theme-dark a.inline-roll, body.theme-dark .editor a.content-link,
body.theme-dark .filepicker .favorites .path, body.theme-dark .filepicker .display-modes a,
body.theme-dark .dnd5e.advancement .items-list .content-link { background-color: var(--dnd5e-color-parchment); }
body.theme-dark .dnd5e .form-group label,
body.theme-dark .dnd5e.sheet .sheet-header .summary li,
body.theme-dark .dnd5e.sheet.item .sheet-body .item-properties .properties-header { color: var(--color-text-dark-secondary); }
body.theme-dark #sidebar { border: 1px solid var(--color-border-dark-5); }
body.theme-dark .dnd5e2 .pills .pill.transparent, 
body.theme-dark .dnd5e2 .pills .pill.pill-sm { color: #b1b1b1; }
body.theme-dark .directory .directory-item { border-top: 1px solid var(--color-border-dark-5); }
body.theme-dark .directory .directory-list > .directory-item:last-child { border-bottom: 1px solid var(--color-border-dark-4); }
body.theme-dark .sheet.journal-entry .journal-entry-content { background: url(../src/parchment-dark.jpg) repeat; }
body.theme-dark .directory .directory-header .header-search input { background: rgba(0, 0, 10, 0.8); }
body.theme-dark .window-app .window-content { 
/*    background: url(../src/parchment-dark.jpg) repeat;*/
    background: hsl(224deg 48.39% 6.08%);
    background: linear-gradient(to bottom right, #00081e, hsl(224deg 52.54% 5.78%));
}
body.theme-dark.change-windows:not(.system-forbidden-lands) .window-app:not(.dnd5e2.character) > header {
    background: hsl(224, 38.43%, 9.78%);
    background: linear-gradient(to right, #0b0d14, hsl(224, 38.43%, 9.78%));
}
body.theme-dark .window-app:not(.monarch, .dnd5e2) .window-header a:not(.close, .document-id-link) { background: rgb(0 0 0 / 50%); }
body.theme-dark .window-app:not(.monarch, .dnd5e2) .window-header a:not(.close, .document-id-link):hover { background: rgb(25 25 25 / 50%); }
body.theme-dark :is(#tooltip, .locked-tooltip).dnd5e-tooltip {
    background: url(../src/texture-gray1-dark.webp) no-repeat top left, 
    url(../src/texture-gray2-dark.webp) no-repeat bottom right, 
    var(--dnd5e-color-parchment);
}
body.theme-dark #sidebar #chat-log .chat-message::before { opacity: 15%; }
body.theme-dark :is(.chat-popout, #chat-log) .message { 
    background: hsl(224, 48.39%, 6.08%);
    background: linear-gradient(to right, #000512, hsl(224, 48.39%, 6.08%));
}
body.theme-dark :is(.chat-popout, #chat-log) .message.whisper {
    background: hsl(53, 76%, 7%);
    background: linear-gradient(to right, #121000, hsl(53, 76%, 7%));
}
body.theme-dark :is(.chat-popout, #chat-log) .message.blind {
    background: hsl(0, 71%, 4%);
    background: linear-gradient(to right, #120000, hsl(0, 71%, 4%));
}

body.theme-dark .dnd5e2.chat-card .description { background: var(--dnd5e-color-card-tint); }

body.theme-dark .dnd5e2 .card{ background-color: var(--dnd5e-color-card); }
body.theme-dark .dnd5e2 .card img{ filter: invert(0); }

body.theme-dark .dnd5e.sheet .editable h4.rollable:hover, 
body.theme-dark .dnd5e.sheet .editable .rollable:hover > h4 { color: #ffffff; }

body.theme-dark .dae-sheet-header .dae-effect-title input { color: #ffffff; }