/*Module Section*/
/*Automated Animations Styling*/
body.dark-mode-5e .aaVideoPreview { filter: invert(1); }

/*Better Rolls Styling*/
body.dark-mode-5e .dice-result .dice-total.failure, 
body.dark-mode-5e .dice-result .dice-total.fumble,
body.dark-mode-5e .dice-result .dice-total.success, 
body.dark-mode-5e .dice-result .dice-total.critical {
    filter: hue-rotate(180deg);
}

/*Character Monitor Styling*/
body.dark-mode-5e :is(.chat-popout, #chat-log) .message.dnd5e-cm-message { filter: invert(0); }
body.dark-mode-5e :is(.chat-popout, #chat-log) span.dnd5e-cm-text { filter: invert(1); }

/*Combat Enhancements Styling*/
body.dark-mode-5e #combat-popout .combatant .ce-image-wrapper .progress-ring { filter: invert(1); }
body.dark-mode-5e #combat-popout .combat-sidebar li.combatant .roll { filter: invert(1); }
body.dark-mode-5e #combat-popout .combatant .ce-modify-hp { color: var(--color-text-dark-2); }

/*Core Expanded Settings Styling*/
body.dark-mode-5e #coreExpandedSettingsDialog .window-content{ filter: invert(1); }
body.dark-mode-5e #coreExpandedSettingsDialog .window-content .status-effects { filter: invert(1); }

/*Damage Log Styling*/
body.dark-mode-5e nav.damage-log-nav { 
    color: var(--color-text-dark-2);
    border-bottom: 1px solid var(--color-shadow-highlight);
    box-shadow: 0 0 10px var(--color-shadow-primary);
    filter: invert(1);
}
body.dark-mode-5e nav.damage-log-nav .item.active { 
    border: 1px solid var(--color-border-highlight-alt);
    color: var(--color-text-dark-2); 
    box-shadow: 0 0 6px inset var(--color-shadow-primary);
}

/*DF Chat Enhancement Styling*/
body.dark-mode-5e #dfcp-rt-buttons button[data-id=gmroll].active { background-color: #7378ff; }
body.dark-mode-5e #dfcp-rt-buttons button[data-id=selfroll].active { background-color: #3cd7e7; }
body.dark-mode-5e #dfcp-rt-buttons button[data-id=blindroll].active { background-color: #3f8cff; }
body.dark-mode-5e #dfcp-rt-buttons button[data-id=publicroll].active { background-color: #ff55ea; }

/*Dice Tray Styling*/
body.dark-mode-5e .dice-tray button .dice { filter: invert(1); }
body.dark-mode-5e .dice-tray .dice-tray__math button { filter: invert(0); }

/*Improved Macro Editor Styling*/
body.dark-mode-5e .window-app.macro-sheet .command code.improved-macro-editor { filter: invert(1); }
body.dark-mode-5e .window-app.macro-sheet img { filter: invert(1); }
body.dark-mode-5e #macros-popout .directory-item.macro .thumbnail { filter: invert(1); }

/*MIDI QOL Styling*/
body.dark-mode-5e .message-content .midi-qol-item-card .card-buttons button { filter: invert(0); }
body.dark-mode-5e .dmgBtn-container-mqol button { filter: invert(1) !important; }

/*Module Management+ Styling*/
body.dark-mode-5e #module-credits-dialog .window-content { filter: invert(1); }
body.dark-mode-5e #module-management .window-content { filter: invert(1);}
body.dark-mode-5e .package-list .package .package-overview .tag:not(.expand) { filter: invert(1); }

/*Monk's Enhanced Journals Styling*/
body.dark-mode-5e #MonksEnhancedJournal:not([background-image], [sidebar-image]) ol.directory-list { filter: invert(1); }
body.dark-mode-5e #MonksEnhancedJournal:not([background-image], [sidebar-image]) ol.directory-list li,
body.dark-mode-5e #MonksEnhancedJournal[sidebar-image] .journal-sidebar,
body.dark-mode-5e #MonksEnhancedJournal:not([background-image], [sidebar-image]) ol.directory-list li.folder > .folder-header .create-button {
    color: var(--color-text-light-highlight);
}

/*Monk's Combat Details Styling*/
body.dark-mode-5e #chat-log .message.round-marker .message-header .flavor-text { color: var(--color-text-dark-2) !important; }

/*Monk's Little Details Styling*/
body.dark-mode-5e .background-palette-container { 
    filter: invert(1); 
    background: #111217;
}

/*Monk's Token Bar Styling*/
body.dark-mode-5e #requestsavingthrow .window-content .monks-tokenbar .request-header { filter: invert(1); }
body.dark-mode-5e #requestsavingthrow .window-content .monks-tokenbar .sheet .items-list .item .item-name .item-image { filter: invert(1); }
body.dark-mode-5e .monks-tokenbar .sheet .items-list .item .item-name .item-image { filter: invert(1); }

/*Paper Doll Styling*/
body.dark-mode-5e #paper-doll .window-content,
body.dark-mode-5e #paper-doll .window-content canvas, 
body.dark-mode-5e #paper-doll .window-content img {
    filter: invert(0);
}

/*Sheet Only Styling*/
body.dark-mode-5e .sheet-only-container > .button-container { filter: invert(1); }

/*Sequencer Styling*/
body.dark-mode-5e video.database-player { filter: invert(1); }

/*Small Time Styling*/
body.dark-mode-5e .window-app#smalltime-app .window-content, 
body.dark-mode-5e .window-app#smalltime-app .window-content canvas, 
body.dark-mode-5e .window-app#smalltime-app .window-content img {
    filter: invert(0);
}
body.dark-mode-5e #client-settings div#smalltime-darkness-config {
    filter: invert(1);
    background: #2ca4c1;
}

/*TheRipper93's Module Hub Styling*/
/*body.dark-mode-5e #module-credits-dialog .page-heading { filter: invert(1); }*/
body.dark-mode-5e #module-credits-dialog button { filter: invert(0); }

/*ColorPicker Styling*/
body.dark-mode-5e input[data-edit='backgroundColor']{ filter: invert(1); }

/*WeatherFX Styling*/
body.dark-mode-5e .window-app.fxmaster li { color: var(--color-text-dark-2); }

/*Tokenizer Styling*/
body.dark-mode-5e #tokenizer canvas { filter: invert(1); }
body.dark-mode-5e #tokenizer div.view-layer-control button.delete-control { filter: invert(1); }
body.dark-mode-5e #tokenizer div.view-layer-control button.active { filter: invert(1); }
body.dark-mode-5e .tokenizer .title .box-button:not(.deselected) { filter: invert(1); }
body.dark-mode-5e .imagebrowser .imageresult img { filter: invert(1); }

/*Control Concealer Styling*/
.control-concealer-tab.active { 
    border: 1px solid var(--color-border-highlight-invert);
    border-bottom: 1px solid var(--color-border-highlight-invert);
    box-shadow: 0 0 10px var(--color-shadow-highlight-invert);
 }

/*FXMaster Styling*/
body.dark-mode-5e #effects-config img { filter: invert(1); }
body.dark-mode-5e #effects-config input[type="color"] { filter: invert(1); }

/*Tidy5E Styling*/
.sheet.tidy5e-sheet button.skill-proficiency-toggle[title="Proficient"] ~ span.skill-mod {
    color: var(--color-border-highlight-alt-invert);
}
.sheet.tidy5e-sheet button.skill-proficiency-toggle[title="Half Proficient"] ~ span.skill-mod {
    text-shadow: 0px 0px 3px var(--color-border-highlight-alt-invert);
}
.sheet.tidy5e-sheet button.skill-proficiency-toggle[title="Expertise"] ~ span.skill-mod {
    color: var(--color-border-highlight-alt-invert);
    text-shadow: 0px 0px 3px var(--color-text-light-highlight), 
                 0px 0px 3px var(--color-border-highlight-alt-invert);
}

/*Dice So Nice! Styling*/
body.dark-mode-5e #dice-config input[type="color"] { filter: invert(1); }
body.dark-mode-5e #dice-config a.dice-more-theme { filter: invert(1); }
body.dark-mode-5e #dice-config #dice-configuration-canvas canvas { filter: invert(1); }