.app.window-app.dnd5e.sheet.minimized {
    background-color: rgba(102,102,102,0.1);
}
.dnd5e.sheet.actor .skill.proficient input[value="1"] ~ span.skill-mod,
.ability-modifiers input[value="1"] ~ span.ability-save {
    color: #740000;
    text-shadow: 0 0 5px red;
}
.dnd5e.sheet.actor .skill.proficient input[value="0.5"] ~ span.skill-mod{
    color: #740000;
}
.dnd5e.sheet.actor .skill.proficient input[value="2"] ~ span.skill-mod{
    color: white;
    text-shadow: 0 0 5px red;
    font-weight: bold;
}
body.program{
    caret-color: #44ff00;
}
body.program button{
    background: #000000;
}
body.program .dnd5e.sheet .window-content, 
body.program .window-app .window-content, 
body.program .cfg__btn-tab-header, 
body.program .ve-window{
    background: url("../img/Pure_Black.jpg") repeat !important;
    color: #44ff00;
}
body.program .chat-message{
    background: url("../img/Pure_Black.jpg") repeat;
    color: #44ff00;
}
body.program .chat-message.whisper{
    background: #2f1f30;
}
body.program .chat-message.blind {
    background: #361616;
}
body.program textarea{
    background: #000000;
    border-color: #666666;
}
body.program .dnd5e .form-header{
    color: #999999;
}
body.program .dnd5e.sheet.item h4.damage-header{
    color: #44ff00;
}
body.program .dnd5e input[type="text"], 
body.program .dnd5e input[type="number"], 
body.program .dnd5e select,
body.program .dnd5e.sheet.actor .spell-school, 
body.program .dnd5e.sheet.actor .spell-action, 
body.program .dnd5e.sheet.actor .spell-target{
    color: #e9e9e9;
}
body.program .dnd5e button,
body.program .dnd5e .items-list,
body.program .dnd5e .items-list .item .item-name,
body.program .dnd5e.chat-card .card-header h3,
body.program .chat-message .message-header,
body.program .dnd5e.sheet.actor .spell-slots, 
body.program .dnd5e.sheet.actor .spell-comps,
body.program .dnd5e .form-group label,
body.program .dnd5e.sheet.actor h4.box-title,
body.program .dnd5e.sheet.actor .counters .counter h4,
body.program .dnd5e.sheet .sheet-header .summary li,
body.program .dnd5e.sheet .editable h4.rollable:hover, 
body.program .dnd5e.sheet .editable .rollable:hover > h4,
body.program .dnd5e.sheet.actor.character .characteristics textarea,
body.program .dnd5e.sheet.actor .encumbrance .encumbrance-label,
body.program .form-group select,
body.program button.grid-config,
body.program button.perfect-vision--button,
body.program .sheet footer.sheet-footer > button,
body.program button.file-picker,
body.program .app.window-app.sheet.scene-sheet button,
body.program .dialog .dialog-buttons button.default,
body.program button.image-hover-picker-button,
body.program select.form-control,
body.program form .form-group .form-fields > *,
body.program input.awesomplete.keyinput,
body.program .dnd5e.sheet.actor .inventory-list .item-summary{
    color: #44ff00;
}
body.program .dnd5e.sheet.actor .skill.proficient input[value="1"] ~ span.skill-mod,
body.program .ability-modifiers input[value="1"] ~ span.ability-save {
    color: #f2ffa8;
    text-shadow: none;
}
body.program input[type="range"] {
    background: 0;
}
body.program .dnd5e.sheet.actor .skill.proficient input[value="0.5"] ~ span.skill-mod{
    text-shadow: 0 0 5px red;
}
body.program .dnd5e.sheet.actor .skill.proficient input[value="2"] ~ span.skill-mod{
    color: #f2ffa8;
    font-weight: bold;
}
body.program #vtta-tokenizer div.section {
    background: rgba(255,255,255,0.1);
}
body.program #vtta-tokenizer div.menu{
    background: 0;
}
body.program #vtta-tokenizer div.view-layer-control {
    background: 0;
}
#vtta-tokenizer div.view-layer-control button.active {
    color: #000000 !important;
}
body.program form.crash-category-app .form-group label{
    color: #44ff00;
}
body.program .ui-list__wrp-preview{
    background: #000000;
}
body.program button, 
body.program select, 
body.program textarea, 
body.program input,
body.program form.crash-tracked-item-app .form-group label,
body.program form.crash-tracked-item-app .form-header{
    color: #44ff00 !important;
}
body.program input::placeholder {
    color: #939393;
}
body.program .dnd5e.sheet.actor .traits i.fas:hover {
    color: #44ff00;
}
body.program .dnd5e.sheet.actor ul.skills-list li.skill .skill-passive {
    color: #f2ffa8;
    text-shadow: none;
}
body.program input, 
body.program select {
    background: rgba(0, 0, 0, 0.8);
}
body.program button{
    border: 0px;
    box-shadow: 0 0 3px #44ff00;
}
body.program button:hover {
    box-shadow: 0 0 3px #f00f00;
}
body.program .dnd5e.sheet.actor .proficient .proficiency-toggle,
body.program .dnd5e.sheet.actor.character .resource .attribute-value label.recharge{
    color: #adadad;
}
body.program .dnd5e.sheet.actor .inventory-filters .currency label{
    color: #c9c9c9;
}
body.program option, 
body.program optgroup,
body.program input.lst__search,
body.program .btn-group>input.form-control, 
body.program .input-group>input.form-control{
    background: #000000;
}
body.program .dnd5e.sheet.actor .spell-component.tag{
    color: #000000;
    background: #44ff00;
}
body.program .dnd5e.sheet.actor.character .inventory .item-controls .item-toggle.active, 
body.program .dnd5e.sheet.actor.character .spellbook .item-controls .item-toggle.active{
    color: #c7b94d;
}
body.program .dnd5e.sheet.actor.character .inventory .item-controls .item-toggle, 
body.program .dnd5e.sheet.actor.character .spellbook .item-controls .item-toggle,
.dnd5e.sheet.actor .inventory-list .item .item-name i.not-attuned{
    color: #9d9d9d;
}
body.program .directory .directory-header .header-search input{
    background: rgba(0,0,0,0.4);
}
body.program .dnd5e input[type="text"]:hover, 
body.program .dnd5e input[type="number"]:hover, 
body.program .dnd5e input[type="checkbox"]:hover, 
body.program .dnd5e input[type="text"]:focus, 
body.program .dnd5e input[type="number"]:focus, 
body.program .dnd5e input[type="checkbox"]:focus{
    border: 1px solid #44ff00;
}
body.program .dnd5e.sheet .crash-training .activity-type, 
body.program .tidy5e.sheet .crash-training .activity-type,
body.program .dnd5e.sheet .crash-training .activity-override, 
body.program .tidy5e.sheet .crash-training .activity-override,
body.program .dnd5e.sheet .crash-training .items-list, 
body.program .tidy5e.sheet .crash-training .items-list,
body.program .dnd5e.sheet .crash-training .crash-training-controls div, 
body.program .tidy5e.sheet .crash-training .crash-training-controls div{
    color: #adadad;
}
body.program .dnd5e.sheet .sheet-navigation .item.active,
body.program .dnd5e.sheet .filter-list .filter-item.active{
    border-bottom: 3px solid #ff1b1b;
}
body.program .dnd5e.sheet .sheet-navigation .item{
    border-bottom: 2px solid #b5b3a4;
}
body .dnd5e.sheet .sheet-navigation .item{
    border-radius: 4px;
}
body.program .dnd5e.sheet .filter-list .filter-item:hover{
    border-bottom: 3px solid #44ff00;
}
body.program .inventory-list .category-weight .fa-feather {
    color: #00ff00;
    text-shadow: 0 0 8px lime;
}
body.program .inventory-list .category-weight,
body.program .inventory-list .inv-plus-stuff{
    opacity: 0.75 !important;
}
body.program .dnd5e.sheet.actor .inventory-list .item .item-name i.attuned{
    color: #c7b94d;
}
body.program .prosemirror menu .pm-dropdown{
    background: rgba(0,0,0,0.5);
}
body.program .prosemirror menu button:hover, 
body.program .prosemirror menu button.active{
    background: rgba(0,0,0,1);
    color: #44ff00;
    box-shadow: 0 0 2px #44ff00;
}
body.program .prosemirror menu .pm-dropdown ul{
    background: rgba(0,0,0,1);
}
body.program .prosemirror menu .pm-dropdown li:hover{
    background: #222222;
}
body.program .dnd5e.sheet.item .sheet-body .item-properties .properties-header{
    color: #adadad;
}
body.program .dnd5e.sheet.actor .encumbrance{
    background: #000000;
    border: 1px solid #e1e1e1;
}
body.program .dnd5e.sheet.actor .encumbrance .encumbrance-bar{
    background: #ff1b1b;
    border: 1px solid #ff6d6d;
}
body.program a.content-link, 
body.program a.inline-roll{
    background: #303030;
}
body.program .jlnk__entity-link{
    background: #303030;
}
body.program body.change-windows:not(.system-forbidden-lands) .window-app:not(.image-popout){
    background-color: #000000;
}
body.program .window-app{
    box-shadow: 0 0 10px #44ff00;
}
body.program .editor-edit{
    background: rgb(0 0 0 / 75%);
    border: 1px solid #44ff00;
}
body.program .app.window-app .window-content button.btn {
    background: rgba(0,0,0,0.5);
    color: #44ff00;
}
body.program .app.window-app .window-content button.btn.btn--active {
    background: rgba(255,255,255,1);
    color: #000000 !important;
}
body.program input.form-control, 
body.program textarea.form-control{
    background: #2e2e2e;
}
body.program select.ve-foundry-button{
    background: rgb(0 0 0 / 80%) !important;
    color: #44ff00;
}
body.program .veapp-loading__wrp-outer{
    background: rgba(0,0,0,0.5) !important;
    color: #44ff00 !important; 
}
body.program button.btn-5et,
body.program label.btn.btn-5et {
    background: #303030;
    color: #44ff00;
}
body.program .form-group.group-header{
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid #44ff00;
}
body.program form .notes, form .hint{
    color: #b3b3b3;
}
body.program .dnd5e.sheet.actor .features i.original-class {
    color: #939393 !important;
}
body.program #module-management .package-list .package-title, #module-management .package-list .package-metadata, #module-management .package-list .package-description{
    color: #44ff00;
}
body.program #module-management .package-list .package-title, 
body.program #module-management .package-list .package-metadata, 
body.program #module-management .package-list .package-description{
    color: #44ff00;
}
.icon.overlay-damage-full{
    background-image: url("../img/ready-set-roll-compatibility/overlay-damage-full.svg") !important;
    background-color: #ff3b3b;
 }
.icon.overlay-damage-half{
    background-image: url("../img/ready-set-roll-compatibility/overlay-damage-half.svg") !important;
    background-color: #ffa500;
}
.icon.overlay-damage-quarter{
    background-image: url("../img/ready-set-roll-compatibility/overlay-damage-quarter.svg") !important;
    background-color: #ffff00; 
}
.icon.overlay-damage-double{
    background-image: url("../img/ready-set-roll-compatibility/overlay-damage-double.svg") !important;
}
.icon.overlay-healing{
    background-image: url("../img/ready-set-roll-compatibility/overlay-healing.svg") !important;
    background-color: #00ff00; 
}
.icon.overlay-healing-temp{
    background-image: url("../img/ready-set-roll-compatibility/overlay-healing-temp.svg") !important;
    background-color: #00d0ff; 
}
body.program .icon.overlay-damage-full{
    background-image: url("../img/ready-set-roll-compatibility/dark-overlay-damage-full.svg") !important;
    background-color: #680000;
}
body.program .icon.overlay-damage-half{
    background-image: url("../img/ready-set-roll-compatibility/dark-overlay-damage-half.svg") !important;
    background-color: #783200;
}
body.program .icon.overlay-damage-quarter{
    background-image: url("../img/ready-set-roll-compatibility/dark-overlay-damage-quarter.svg") !important;
    background-color: #767600;
}
body.program .icon.overlay-damage-double{
    background-image: url("../img/ready-set-roll-compatibility/dark-overlay-damage-double.svg") !important;
}
body.program .icon.overlay-healing{
    background-image: url("../img/ready-set-roll-compatibility/dark-overlay-healing.svg") !important;
    background-color: #004a00;
}
body.program .icon.overlay-healing-temp{
    background-image: url("../img/ready-set-roll-compatibility/dark-overlay-healing-temp.svg") !important;
    background-color: #000070;
}
body.program .dnd5e.sheet.actor .inventory-list .item .item-name.rollable .item-image:hover{
    background-image: url("../img/d20-black.svg") !important;
}
body.program .dnd5e .items-list .items-header {
    background: rgba(0, 0, 0, 1);
}
body.program #chat-form textarea {
    background: #000000;
}
body.program .sheet.journal-entry .journal-entry-content {
    background: 0;
}
body.program .SumoSelect > .CaptionCont,
body.program .SumoSelect > .optWrapper > .options {
    background: #000000;
}
body.program .SumoSelect > .optWrapper > .options li.opt:hover{
    background-color: #000000;
}
body.program .SumoSelect > .CaptionCont > label > i{
    background-image: url("../img/caret-down.png");
}
body.program .dnd5e.sheet .crash-training .activity-progress-row .crash-training-completion, 
body.program .tidy5e.sheet .crash-training .activity-progress-row .crash-training-completion{
    color: #44ff00;
}
body.program .rd__h--1,
body.program .rd__h--2{
    color: #e7d57e;
}
body.program .message.damage-log.healing{
    background: #004c1b;
}
body.program .message.damage-log.damage{
    background: #460000;
}
ol#damage-log .dfce-cm-bottom>.message-content,
body.program ol#damage-log .dfce-cm-bottom>.message-content{
    padding-right: 0;
}
body.program .rd__b-inset{
    background-color: #3a3a3a;
}
body.program #requestsavingthrow .request-grid > div.selected{
    background: rgb(82 82 82 0.6);
}
body.program .monks-tokenbar .sheet .items-list .item .item-name{
    color: #44ff00;
}
body.program #requestsavingthrow .request-grid > div.selected, body.program #requestsavingthrow .request-grid > div {
    color: #44ff00;
}
body.program .awesomplete > ul > li {
    background: #000000;
}
body.program .awesomplete > ul > li:hover{
    background: #3a3a3a;
    color: #44ff00;
}
body.program .filepicker .display-modes a {
    background: #000000;
}
body.program .dnd5e.sheet.actor.character .spellbook .item-controls .item-toggle[data-tooltip="Always Prepared"] {
    color: #973535;
}