button{
    background: #000000;
}
.dnd5e.sheet .window-content, .window-app .window-content, .cfg__btn-tab-header, .ve-window{
    background: url("/img/Black_Marble.jpg") repeat;
    color: #ffffff;
}
.dnd5e input[type="text"], .dnd5e input[type="number"], .dnd5e select{
    color: #e9e9e9;
}
.dnd5e.sheet.actor .counters .counter h4{
    color: #ffffff;
}
.dnd5e .form-group label{
    color: #ffffff;
}
.dnd5e.sheet.actor h4.box-title{
    color: #ffffff;
}
.dnd5e.sheet .sheet-header .summary li{
    color: #ffffff;
}
option, optgroup{
    background: #000000;
}
.dnd5e.sheet.actor.character .resource .attribute-value label.recharge{
    color: #adadad;
}
.dnd5e.sheet.actor .proficient .proficiency-toggle{
    color: #adadad;
}
.dnd5e.sheet .editable h4.rollable:hover, .dnd5e.sheet .editable .rollable:hover > h4{
    color: #ffffff;
}
.dnd5e .items-list .item .item-name{
    color: #ffffff;
}
.dnd5e.sheet.actor .inventory-filters .currency label{
    color: #c9c9c9;
}
.dnd5e .items-list{
    color: #ffffff;
}
.dnd5e.sheet.actor .spell-school, .dnd5e.sheet.actor .spell-action, .dnd5e.sheet.actor .spell-target{
    color: #e9e9e9;
}
.dnd5e.sheet.actor .spell-slots, .dnd5e.sheet.actor .spell-comps{
    color: #ffffff;
}
.dnd5e.sheet.actor .spell-component.tag{
    color: #000000;
    background: #ffffff;
}
.dnd5e.sheet.actor.character .inventory .item-controls .item-toggle.active, .dnd5e.sheet.actor.character .spellbook .item-controls .item-toggle.active{
    color: #c7b94d;
}
.dnd5e.sheet.actor.character .inventory .item-controls .item-toggle, .dnd5e.sheet.actor.character .spellbook .item-controls .item-toggle{
    color: #9d9d9d;
}
.directory .directory-header .header-search input{
    background: rgba(0,0,0,0.4);
}
.dnd5e button{
    color: #ffffff;
}
.dnd5e input[type="text"]:hover, .dnd5e input[type="number"]:hover, .dnd5e input[type="checkbox"]:hover, .dnd5e input[type="text"]:focus, .dnd5e input[type="number"]:focus, .dnd5e input[type="checkbox"]:focus{
    border: 1px solid #ffffff;
}
.dnd5e.sheet .crash-training .activity-type, .tidy5e.sheet .crash-training .activity-type{
    color: #adadad;
}
.dnd5e.sheet .crash-training .activity-override, .tidy5e.sheet .crash-training .activity-override{
    color: #adadad;
}
.dnd5e.sheet .crash-training .items-list, .tidy5e.sheet .crash-training .items-list{
    color: #adadad;
}
.dnd5e.sheet .crash-training .crash-training-controls div, .tidy5e.sheet .crash-training .crash-training-controls div{
    color: #adadad;
}
.dnd5e.sheet.actor.character .characteristics textarea{
    color: #ffffff;
}
.dnd5e.sheet .sheet-navigation .item.active{
    border-bottom: 3px solid #ff1b1b;
}
.dnd5e.sheet .sheet-navigation .item{
    border-bottom: 2px solid #b5b3a4;
    border-radius: 4px;
}
.dnd5e.sheet .filter-list .filter-item.active{
    border-bottom: 3px solid #ff1b1b;
}
.dnd5e.sheet .filter-list .filter-item:hover{
    border-bottom: 3px solid #ffffff;
}
.inventory-list .category-weight .fa-feather {
    color: #00ff00;
    text-shadow: 0 0 8px lime;
}
.inventory-list .category-weight{
    opacity: 0.75;
}
.inventory-list .inv-plus-stuff{
    opacity: 0.75;
}
.dnd5e.sheet.actor .inventory-list .item .item-name i.attuned{
    color: #c7b94d;
}
.dnd5e.sheet.actor .inventory-list .item .item-name i.not-attuned{
    color: #9d9d9d;
}
.prosemirror menu .pm-dropdown{
    background: rgba(0,0,0,0.5);
}
.prosemirror menu button:hover, .prosemirror menu button.active{
    background: rgba(0,0,0,1);
    color: #ffffff;
    box-shadow: 0 0 2px #ffffff;
}
.prosemirror menu .pm-dropdown ul{
    background: rgba(0,0,0,1);
}
.prosemirror menu .pm-dropdown li:hover{
    background: #222222;
}
.dnd5e.sheet.item .sheet-body .item-properties .properties-header{
    color: #adadad;
}
.dnd5e.sheet.actor .encumbrance{
    background: #000000;
    border: 1px solid #e1e1e1;
}
.dnd5e.sheet.actor .encumbrance .encumbrance-bar{
    background: #ff1b1b;
    border: 1px solid #ff6d6d;
}
.dnd5e.sheet.actor .encumbrance .encumbrance-label{
    color: #ffffff;
}
a.content-link, a.inline-roll{
    background: #303030;
}
.jlnk__entity-link{
    background: #303030;
}
body.change-windows:not(.system-forbidden-lands) .window-app:not(.image-popout){
    background-color: #000000;
}
.window-app{
    box-shadow: 0 0 10px #ffffff;
}
.editor-edit{
    background: rgb(0 0 0 / 75%);
    border: 1px solid #ffffff;
}
.form-group select {
    color: #ffffff;
}
button.grid-config{
    color: #ffffff;
}
button.perfect-vision--button{
    color: #ffffff
}
.sheet footer.sheet-footer > button {
    color: #ffffff;
}
button.file-picker{
    color: #ffffff;
}
.app.window-app.sheet.scene-sheet button {
    color: #ffffff;
}
.dialog .dialog-buttons button.default{
    color: #ffffff;
}
button.image-hover-picker-button {
    color: #ffffff;
}
button.dialog-button.no{
    color: #ffffff;
}
.app.window-app .window-content button.btn {
    background: rgba(0,0,0,0.5);
    color: #ffffff;
}
.app.window-app .window-content button.btn.btn--active {
    background: rgba(255,255,255,1);
    color: #000000;
}
input.form-control, textarea.form-control{
    background: #2e2e2e;
}
select.ve-foundry-button{
    background: rgb(0 0 0 / 80%);
    color: #ffffff;
}
select.form-control{
    color: #ffffff;
}
.veapp-loading__wrp-outer{
    background: rgba(0,0,0,0.5);
    color: #ffffff;
}
input.lst__search{
    background: #000000;
}
button.btn-5et {
    background: #303030;
    color: #ffffff;
}
label.btn.btn-5et {
    background: #303030;
    color: #ffffff;
}
.btn-group>input.form-control, .input-group>input.form-control{
    background: #000000;
}
.form-group.group-header{
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid #ffffff;
}